<html>

<body>
    <h1><u>UPDATE BOOK DETAILS</u></h1>
    <form action="update/submit" method="post">
        <lable>enter the id of the book you want to update</lable>
        <input type="text" name="id" placeholder="id of the book"><br><br>
        <label>enter name of the book</label>
        <input type="text" name="title" placeholder="book title"><br><br>
        <label>enter author of the book</label>


        <select name="author"><br><br>
            {{#each aname}}
            <option value={{this._id}}>{{this.first_name}} {{this.family_name}}</option>
            {{/each}}

        </select><br><br><br>



        <label>enter summary of the book</label>
        <input type="text" name="summary" placeholder="brief summary of the book"><br><br>
        <label>enter the isbn of the book</label>
        <input type="number" name="isbn" placeholder="ISBN"><br><br>
        <label>enter the genre of the book</label>


        <select name="genre">
            {{#each gname}}
            <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
        </select><br>



        <input type="submit">
    </form>
</body>

</html>